.projectFilterBar {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 2px solid black;
}
.projectList {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.fadeIn {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
