/* .projectList{
    display:grid;
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 8px;
    max-width: 1000px;
    margin: 10px auto;
} */

/* 
@media screen and (min-width: 770px) {
    .projectList{
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    }

    @media screen and (min-width: 1200px) {
        .projectList{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3em;
        }
        } */

        .projectList{
            display:flex;
            flex-wrap: wrap;
            gap: 2em;
            padding: 10px;
            justify-content: center;
        }