.list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px 0;

}

.skill{
    list-style: none;
    font-size: 11px;
    background-color: lightgrey;
    padding: 8px;
    border-radius: 50px;
    font-weight: bold;
    color:black;
}