.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: var(--primaryColor, #2E4057);
    padding: 1em;
}

.header img{
    width: 75px;
}

