/* https://alvarotrigo.com/blog/hamburger-menu-css-responsive/ */
/* .navigation{
    position: relative;
}
.navigation span{
    display:block;
    width: 35px;
    height: 6px;
    background: black;
    position: relative;
    transition: 0.5s;
    margin: 5px;
}

.navigation span:before{
    content: '';
    position:absolute;
    width: 35px;
    height: 6px;
    background-color: black;
    top: -10px;
    transition: 0.5s;
}


.navigation span:after{
    content: '';
    position:absolute;
    width: 35px;
    height: 6px;
    background-color: black;
    top: 10px;
    transition: 0.5s;
 
}

.navigation span:hover, .navigation span:hover::before, .navigation span:hover::after {
    background-color: rgb(131, 130, 130);
  } */
  .navList{
    display:none;
}


@media screen and (min-width: 550px) {
    /* .navigation span{
        display:none;
    } */

    .navList{
        display:block;
        list-style: none;
        display: flex;
        gap: 2em;
    }


  }
  