* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4f4f4;
}


html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

main {
  margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Sans 3", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.5;
  letter-spacing: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.ham{
  color:red;
  padding:20px;
  content: "TEST";
}